**2**
<br> </br>
*Yelp Reviews*

In [23]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.7/site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in /opt/anaconda3/lib/python3.7/site-packages (from beautifulsoup4) (1.9.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

In [4]:
url = 'https://www.yelp.com/biz/seed-mill-new-york?osq=Ice+Cream'

my_url = urllib.request.urlopen(url)

In [5]:
soup = BeautifulSoup(my_url, 'html.parser')

In [164]:
rating_list1 = []
review_list1 = []

for i in range(0, 12):
    
    if i == 0:
        url = 'https://www.yelp.com/biz/seed-mill-new-york?osq=Ice%20Cream'
    else:
        url = 'https://www.yelp.com/biz/seed-mill-new-york?osq=Ice%20Cream&start='+str(10*i)
    
    my_url = urllib.request.urlopen(url)
    
    soup = BeautifulSoup(my_url, 'html.parser')
    for i in soup.find_all('div', {'class': "review__373c0__3MsBX border-color--default__373c0__1WKlL"}):
        rating = i.find('div', {'class': 'i-stars__373c0___sZu0'})
        rating_list1.append(rating.get('aria-label'))
        comment = i.find('p',{'class':'comment__373c0__Nsutg css-n6i4z7'}).text
        review_list1.append(comment)

In [165]:

len(rating_list1)

100

In [166]:
len(review_list1)

100

In [169]:
review_Id = []
i = 1
while i <= 100:
    review_Id.append(i)
    i += 1

In [171]:
df = pd.DataFrame(list(zip(review_Id, rating_list1, review_list1)),
                 columns = ['Review ID', 'Review Rating', 'Review Text'])

In [172]:
df

,Review ID,Review Rating,Review Text
0,1,5 star rating,We randomly came across this stall at Chelsea ...
1,2,5 star rating,So delicious. So much so that I decided their ...
2,3,3 star rating,"If you love Tahini or Havla, come here ASAP. I..."
3,4,3 star rating,After seeing Seed + Mill repeatedly pop up in ...
4,5,5 star rating,I was walking around the market which is still...
...,...,...,...
95,96,5 star rating,Seed + Mill is awesome! The staff are so frien...
96,97,3 star rating,You know how some people have a gene where the...
97,98,5 star rating,Best ice cream ever!! We had just eaten a hug...
98,99,5 star rating,I dream about Seed + Mill when I'm not in New ...
99,100,5 star rating,Seed + Mill was the surprise highlight of my t...

In [174]:
df.to_csv('yelpReviews.csv', index = False)